.Search {
  display: flex;
  justify-content: space-around;
}

.input {
  height: 40px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  border: 0px;
  border-radius: 1px;
}

::placeholder {
  color: #57bb80;
  text-align: right;
}
